.automizy-sidebar{
    position: absolute;
    top:0;
    right:0;
    z-index:1;
    width:400px;
    height:100%;
    background-color:#ffffff;
    box-shadow:0 0 10px 0 rgba(0,0,0,0.7);
}
.automizy-sidebar-tabs-table{
    width:100%;
    table-layout:fixed;
}
.automizy-sidebar-tabs{

}
.automizy-sidebar .automizy-sidebar-inners{
    overflow-y:auto;
    overflow-x:hidden;
    height:100%;
}
.automizy-sidebar.automizy-sidebar-has-tabs .automizy-sidebar-inners{
    height:calc(100% - 50px);
}