.automizy-sidebar-tab{
    border:1px solid #cccccc;
    height:50px;
    vertical-align:middle;
    text-align:center;
    background-color:#f4f5f7;
    cursor:pointer;
    overflow: hidden;
    font-size:14px;
}
.automizy-sidebar-tab:hover{
    background-color:#ffffff;
}
.automizy-sidebar-tab.automizy-active{
    background-color:#ffffff;
    color:#f46a1f;
    font-weight:bold;
}